@import url('https://fonts.googleapis.com/css2?family=Prosto+One&family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@700&display=swap');
/* font-family: 'Kanit', sans-serif; */

$color-second: #FAFAFA;
$color-accent: #DB4C3F;
$color-text-dark: #333;
$color-text-light: white;
$color-green: rgb(68, 209, 99);
$color-itembg-lightgrey: #ddd;

$margin-small: 5px;
$margin-medium: 15px;
$item-size: 30px;
$border-radius: .3rem;

@mixin button-style{
    transition: background-color .3s ease;
    padding: $margin-small;
    border: none;
    border-radius: $border-radius;
    cursor: pointer;
    user-select: none;
}
@mixin button-style-hover{
    transition: background-color .3s ease;
}


/* MISCELLANEOUS */

*{
    color: $color-text-dark;
    box-sizing: border-box; 
    font-family: 'Source Sans Pro', sans-serif;
}

h1, footer{
    color: $color-text-light;
}

h1, h2, h3, h4, h5, h6{
    margin: 0;
    font-family: 'Prosto One', cursive;
}

button{
    @include button-style()
}
button:hover{
    @include button-style-hover()
}

.close-topright-button{
    $icon-size: 15px;
    @include button-style();
    
    position: absolute;
    right: calc(0px - $icon-size);
    top: calc(0px - $icon-size);
    
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: $icon-size;
    color: $color-accent;
    font-weight: 900;

    border: 2px solid $color-accent !important;
    border-radius: 50% !important;
    background-color: white;
}
.close-topright-button:hover{
    @include button-style-hover();
    background-color: #DB4C3F;
    color: $color-second;
}

body{
    margin: 0;
    display: grid;
    grid-template-areas:
        'header header'
        'aside container'
        'footer footer';
    grid-template-columns: 1fr 5fr;
    
}


/* HEADER */

header{
    grid-area: header;
    height: 45px;
    background-color: $color-accent;
    display: flex;
    align-items: center;
    padding: $margin-medium;
}


/* NAV */

nav{
    grid-area: aside;
    background-color: $color-second;
    padding: $margin-medium;
    height: calc(100vh - 90px);
    
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        max-height: 100%;
        display: grid;
        grid-template-rows: repeat(auto, minmax(min-content, $item-size));
        gap: $margin-small;
    }

    li{
        display: grid;
        grid-template: auto auto auto / auto 1fr;
        align-items: center;
        gap: $margin-small;
        font-size: .9rem;
        @include button-style();
        position: relative;
    }
    li:hover{
        @include button-style-hover();
        background-color: $color-itembg-lightgrey;
    }

    li > input{
        grid-column: -1 / 1;
    }

    li > button{
        grid-column: -1 / 1;
    }
    li > button:hover{
        background-color: $color-green;
    }
}

#container{
    grid-area: container;
    height: calc(100vh - 90px);
    padding: 25px 250px;
    display: grid;
    grid-auto-rows: min-content;
    gap: $margin-small;

    hr{
        width: 100%;
        margin: 0;
    }
}

#addtask-button{
    display: flex;
    justify-content: center;
    align-items: center;
    @include button-style();
}
#addtask-button:hover{
    @include button-style-hover();
    background-color: $color-green;
}

/* Addtask form */

#task-form{
    border: 2px solid $color-accent;
    border-radius: $border-radius;
    padding: $margin-medium;
    
    position: relative;
    display: grid;
    gap: $margin-medium;
    grid-template-areas:
        'name name'
        'description description'
        'duedate priority'
        'submit submit';

    input,
    textarea{
        width: 100%;
        border: none;
        resize: none;
    }
    
    input:focus,
    textarea:focus{
        outline: none;
    }

    label[for="task-name"]{
        grid-area: name;
        input{
            font-weight: 600;
            font-size: 1.3rem;
        }
    }

    label[for="task-description"]{
        grid-area: description;
    }

    label[for="task-duedate"]{
        grid-area: duedate;
        width: min-content;
        span{
            color: $color-text-dark;
        }
    }

    label[for="priority"]{
        grid-area: priority;
    }

    button#addtask-submit{
        grid-area: submit;
    }
    button#addtask-submit:hover{
        background-color: $color-green;
    }
}


/* Existing tasks list */

#tasks-list{
    width: 100%;
    min-height: min-content;
    display: grid;
    grid-template-rows: repeat(auto-fit, minmax(min-content, $item-size));
    gap: $margin-small;
    align-items: center;

    .task{
        @include button-style();
    }
    .task:hover{
        @include button-style-hover();
        background-color: $color-itembg-lightgrey;
    }

    #opened{
        height: 200px;
        background-color: $color-itembg-lightgrey;
    }
}


/* Fulltask form */

#fulltask-background{
    position: absolute;
    height: 100vh;
    width: 100vw;
    background-color: rgba(51, 51, 51, 0.5);

    #fulltask-container{
        $self-width: 50%;
        $self-height: 50%;
        
        position: inherit;
        top: calc(50% - $self-height / 2);
        left: calc(50% - $self-width / 2);
        width: $self-width;
        height: $self-height;
        background-color: $color-second;
        border-radius: $border-radius*2;
        padding: $margin-medium;
    }
}

#fulltask-content{
    display: grid;
    grid-template-rows: repeat(3, min-content) 1fr repeat(2, min-content);
    gap: $margin-medium;
    min-height: 100%;
    
    #fulltask-project{
        text-transform: uppercase;
        font-family: 'Prosto One', cursive;
        margin: 0;
        color: rgba(51, 51, 51, .6);
        text-align: center;
    }

    hr{
        width: 100%;
        margin: 0;
    }

    #fulltask-name{
        transition: outline .3s ease;
        outline: 2px solid #33333300;
        border-radius: $border-radius;

        padding: $margin-small;
        font-size: 1.5rem;
        font-weight: 900;
        font-family: 'Prosto One', cursive;
    }
    #fulltask-description{
        transition: outline .3s ease;
        outline: 2px solid #33333300;
        border-radius: $border-radius;

        padding: $margin-small;
    }
    #fulltask-name:hover,
    #fulltask-description:hover{
        // the transition is sketchy here, the outline grow 1px at a time
        transition: outline .3s ease;
        outline: 2px solid $color-text-dark;
        border-radius: $border-radius;
    }



    #fulltask-misc{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        align-items: center;

        height: 100px;
        
        #fulltask-duedate-label,
        #fulltask-priority-label{
            transition: border .3s ease;
            display: flex;
            flex-direction: column;
            justify-content: space-around;

            height: 70px;
            width: 150px;
            padding: $margin-medium;
            border: 2px solid $color-itembg-lightgrey;
            border-radius: $border-radius;

            input{
                margin-top: $margin-small;
                width: 100%;
            }
            select{
                margin-top: $margin-small;
                width: 100%;
            }
        }
        #fulltask-duedate-label:hover,
        #fulltask-priority-label:hover{
            transition: border .3s ease;
            border: 2px solid black;
        }
    }

    #fulltask-buttons{
        width: 100%;
        height: 60px;
        display: grid;
        grid-template-columns: 1fr 5fr;
        gap: $margin-medium;

        #fulltask-delete:hover{
            background-color: $color-accent;
        }
        #fulltask-save:hover{
            background-color: $color-green;
        }
        
    }

    /* misc */
    input,
    textarea{
        resize: none;
        border: none;
        outline: none;
        background-color: #33333300;
        width: 100%;
    }
}

/* FOOTER */
footer{
    grid-area: footer;
    height: 45px;
    background-color: $color-accent;
    display: flex;
    justify-content: center;
    align-items: center;
}